[submodule "external/Allay"]
	path = external/Allay
	url = https://github.com/AllayMC/Allay.git
[submodule "external/graalpy-extensions"]
	path = external/graalpy-extensions
	url = https://github.com/oracle/graalpy-extensions.git
